body
{
	font-family: "Trebuchet MS";
	font-size: 100%;
	line-height: 130%;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	margin: 0px;
	background-color: #CCCCCC;
	background-image: url(images/large-delicate-leaf.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.contact_table
{
	font-size: 13px;
}

.jump_to
{
	font-size: 11px;
	float: left;
}

.jump_to a
{
	color: #666666;
	text-decoration: none;
}

.jump_to a:hover
{
	color: #A4AB00;
	text-decoration: underline;
}

#header
{
	border-bottom: solid 1px #666666;
	border-right: solid 1px #666666;
	border-left: solid 1px #666666;
	width: 70%;
	min-width:800px;
	background-image: url(images/bg-mod-top.png);
	background-repeat: repeat-x;
	background-position: 0px top;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	height: 130px;
}

#logo
{
	position: relative;
	float: left;
	width: 300px;

}

#language
{
	position: relative;
	float: right;
	padding: 10px;
	font-size: 11px;
}

.header a
{
	text-decoration: none;
	font-size: 13px;
}

.header a:hover
{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
}

.menu
{
	height: 35px;
	border-bottom: solid 1px #666666;
	width: 70%;
	background-color: #c3d66e;
	background-image: url(images/bg-menu.png);
	background-repeat: repeat-x;
	background-position: 0px top;
	text-decoration: none;
	border-right: solid 1px #666666;
	border-left: solid 1px #666666;
	margin-right: auto;
	margin-left: auto;
	min-width:800px;

}

.menu div
{
	padding: 7px 0px 7px 10px;
}
.menu a
{
	text-decoration: none;
	font-size: 13px;
	color: #5D8C13;
}

a
{
	text-decoration: none;
	font-size: 11px;
	color: #666666;
}

a:hover
{
	text-decoration: underline;
	color: #5D8C13;
}

.menu a:hover
{
	color: #86C228;
	text-decoration: none;
	font-size: 13px;
}

#content_main
{
	background-color: #FFFFFF;
	width: 70%;
	border-right: solid 1px #666666;
	border-left: solid 1px #666666;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	min-height: 375px;
	min-width:800px;

}

.label
{
	color: #73ab00;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	padding: 18px 0px 0px 13px;
}

.span_overview
{
	color: #7D7D7D;
	vertical-align: top;
	font-family: Verdana;
	font-size: 11px;
	text-align: justify;
	padding: 10px 10px 0px 0px;

}

.info
{
	color: #7D7D7D;
	vertical-align: top;
	font-family: Verdana;
	font-size: 11px;
	text-align: justify;
	padding: 15px 20px 0px 13px;
}

.change_lang
{
	vertical-align: top;
	padding: 10px 10px 0px 0px;
	font-size: 11.5px;
}

.content_main_left
{
	float: left;
	width: 60%;
	border-right: dotted 1px;
	margin-right: 0px;
	height: 375px;
}

.content_main_right
{
	float: right;
	width:39%;
}

#footer
{

	background-color: #FFFFFF;
	width: 70%;
	padding: 10px 0px 10px 0px;
	border-top: solid 1px #666666;
	border-right: solid 1px #666666;
	border-left: solid 1px #666666;
	border-bottom: solid 1px #666666;
	font-size: 13px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;
}

#footer div
{
	font-size: 11px;
}

#footer a
{
	text-decoration: none;
	color: #666666;
}

#technologies
{
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.products_table
{
	border: dotted 1px #CCCCCC;
	text-align: center;
	margin-bottom: 20px;
}

.brands_table
{
	border: dotted 1px #CCCCCC;
	text-align: center;
	margin-bottom: 20px;
	padding: 25px;
	font-size: 12px;
}



.products_imgs
{
	padding: 5px 10px 5px 10px;
	border-bottom: dotted 1px #CCCCCC;
}

.products_imgs_last
{
	padding: 5px 10px 5px 10px;
}

.products_desc
{
	padding: 10px 10px 10px 10px;
	border-bottom: dotted 1px #CCCCCC;
	text-align: left;
	font-size: 12px;
}

.products_desc_last
{
	padding: 10px 10px 10px 10px;
	text-align: left;
	font-size: 12px;
}
