html, body {
  height: 100%;
  margin: 0;
}

/*NavBar*/
#myNavbar {
  position:relative;
  float: right;
  font-weight: bold !important;
  font-family: 'Cabin', sans-serif;
  font-size: 1.4em;
}

.navbar-default {
  opacity: 0.8;
}

/*Product button*/
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #6bd12e;
    text-align: center;
    margin: 0 auto;
    width: 27%;
    padding: 2%;
    font-size: 16px;
    margin-bottom: 2%;
}

@media screen and (max-width: 650px) {
  .button1 {
    width: 50%;
    display: block;
  }
}

.button1 a:hover {
    color: white;
}
.button1:hover {
    background-color: #6bd12e;
}

/*Backgrounds*/
.bg{
  background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.2)), url("bg3.jpg");
  height:50%;
  background-position: center;
  background-size: cover;
}

.p-bg {
  background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.2)), url("bg4.jpg");
}

.about-bg {
  background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.2)), url("bg2.jpg");
}

.about-bg, .p-bg {
  height:50%;
  background-position: center;
  background-size: cover;
}

/*main content*/
div.container.index {
  opacity: 0.8;
}

div.container {
  background-color: #ffffff;
  opacity: 0.7;
}

div.container h2, h5 {
  text-align: center;
  font-weight: bolder;
}

div.container h2 {
  font-family: 'Dancing Script', cursive;
  color: green;
  text-shadow: 3px;
}

div.info {
  margin: 5%;
  color: #000000;
  font-size: 130%;
  line-height: 2em;
  opacity: 0.7;
}

/*Product Page style*/
.p_column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 15px;
}

@media screen and (max-width: 850px) {
  .p_column {
    width: 100%;
    display: block;
  }
}

/*Links - Info - Images */
a {
  color: black;
  text-decoration: none;
}

a:hover {
 color: green;
 text-decoration: none;
}

p {
  color: black;
}

.ptr {
  display: block;
  width: 50%;
  float: left;
  padding: 2%;
}

.ptr img {
  width: 100%;
  height: auto;
  display: block;
}

.ptr a {
  text-align: center;
  font-size: 1em;
}

.dtrr {
  display: block;
  width: 33.33%;
  float: left;
  padding: 2%;
}

.dtrr img {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dtr {
  display: block;
  width: 25%;
  float: left;
  padding: 2%;
}

.dtr img {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dtr a {
    text-align: center;
    font-size: 1em;
}

.dtrr a {
  text-align: center;
  font-size: 1em;
}

@media screen and (max-width: 650px) {
  .dtrr, .dtr, .ptr {
    width: 100%;
    display: block;
  }
}

/*Footer*/
footer, #footer {
  color: black;
  text-align: center;
}

/*Contact page info*/
html {
  box-sizing:border-box;
}

/*Contact Form*/
.formbody {
  width: 50%;
  display: block;
  float: left;
  border-right: 2px solid grey;
}

.contact_half {
     width: 100%
     height: auto;
     display: block;
     padding-left: 10%;
     padding-right: 10%;
}
.telp {
  position: relative;
    padding: 10%;
    text-align: center;
    width: 50%;
    display: block;
    float: left;
}

@media screen and (max-width: 650px) {
  .telp {
    width: 50%;
    display: block;
    font-size: 3vw;
  }
}

span {
  color: green;
}
.textf {
  width: 70%;
  padding: 10px;
  border-radius: 2px;
  outline: none;
  transition: box-shadow .5s;
}

.textf:hover {
  outline: blue;
}

.textf:focus {
  box-shadow: 3px 3px gray;
}

textarea {
  resize: none;
}
/*form button*/
.button {
      border: 1px solid grey;
      color: black;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      width: auto;;
      height: auto;
      resize: none;
  }

.button a:hover {
    color: white;
  }
.button:hover {
    background-color: #6bd12e;
    color: white;
  }

@media screen and (max-width: 850px) {
  .button {
    width: 50%;
    display: block;
    padding: 5px 5px;
    font-size: 2vw;
    }
  }

.m_address {
  width: 100%;
  padding: 2%;
  margin: 1%;
  margin-bottom: 2%;
  }

.mail_add {
    display: block;
    float: left;
    width: 33.33%;
  }

/*Contact Team Info*/
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 15px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  text-align: center;
}
.ccon {
  padding: 0 16px;
}

.title {
  color: grey;
}

/* font-family: 'Cabin', sans-serif;
font-family: 'Dancing Script', cursive; */
